#root-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.island-container{    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    margin: 10px;
    border: solid 1px black;
    border-radius: 5px;
}
.content{
    color: #333;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1em;
}
.image{
    height: 100px;
}
fieldset{
    width: 350px;
    height: 50px;
}